.App {
  text-align: center;
}

html,
body,
main {
  overflow-x: hidden;
}

body {
  background-color: var(--c-dark);
  color: var(--c-light);
  margin: 0;
  width: 100%;
}

main {
  max-width: 100vw;
  overflow-y: auto;
}

.search,
.found {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.search > p {
  color: var(--c-2a);
}

.found > p {
  color: var(--c-1a);
  text-decoration: line-through;
}
