:root {
  --crosshairWidth: 60px;
  --crosshairThickness: 6px;
  --reticleThickness: 2px;
}

.crosshair {
  pointer-events: none;
  background-color: var(--crossFillColor);
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 1; */
  height: var(--crosshairWidth);
  width: var(--crosshairWidth);
  margin: 0;
  padding: 0;

  border: var(--crosshairThickness) solid var(--crossStrokeColor);
  border-radius: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%);
}

.crosshair::before,
.crosshair::after {
  content: "";
  background: black;
  position: absolute;
}

.crosshair::before {
  position: absolute;
  background: var(--crossStrokeColor);
  height: calc(var(--reticleThickness) / 2);
  width: 100%;
  top: calc((var(--crosshairWidth) - var(--reticleThickness) / 2) / 2);
}

.crosshair::after {
  position: absolute;
  background: var(--crossStrokeColor);
  width: calc(var(--reticleThickness) / 2);
  height: 100%;
  left: calc((var(--crosshairWidth) - var(--reticleThickness) / 2) / 2);
}
